# Environment variables and secrets
.env

# Virtual environments
env/
venv/

# Python compiled files
__pycache__/
*.pyc
*.pyo
*.pyd

# Databases
*.sqlite
*.db

# Logs
*.log

# IDE and OS files
.vscode/
.idea/
.DS_Store
Thumbs.db
